This is for testing purpose...

room controller.php
    public function meal_mealprice(Request $request)
    {
        try {
            $mealPlan_item = MealPlan::get();
    
            $mealPlan_price = HotelMealPlan::where('id', $request->meal_id)
                ->where('hotel_id', $request->hotel_id)
                ->with([
                    'taxRate.taxName' => function ($query) {
                        $query->select('id', 'rate', 'name');
                    },
                    'taxRate.taxName:id,rate,name',
                ])->first();
    
            // if (!$mealPlan_item || $mealPlan_price->isEmpty()) {
            //     return response()->json([
            //         'status' => false,
            //         'error' => 'Meal plan or meal plan price not found.',
            //     ], 404);
            // }
    
            return response()->json([
                'status' => true,
                'data' => [$mealPlan_item, $mealPlan_price],
            ]);
        } catch (\Illuminate\Database\QueryException $e) {
            return $this->responseWithError($e->getMessage());
        }
    }


hotel controller.php
 public function getRoomsprice_api(Request $request)
    {
        $hotel = Room::where('room_categorary', $request->id)->get();
        return response()->json([
            'status' => true,
            'data' => $hotel,
        ]);
    }

api php in module/hotel/routes 
<?php

use Illuminate\Http\Request;
/*
|--------------------------------------------------------------------------
| API Routes
|--------------------------------------------------------------------------
|
| Here is where you can register API routes for your application. These
| routes are loaded by the RouteServiceProvider within a group which
| is assigned the "api" middleware group. Enjoy building your API!
|
*/
// Route::group(['middleware' => 'auth:api'], function () {
/****** hotel api ******/
Route::prefix('hotel')->group(function () {

    Route::get('/all', 'API\HotelController@lists');
    Route::get('/list-all', 'API\HotelController@listWithoutScope');
    Route::prefix('category')->group(function () {
        Route::get('/', 'API\HotelCategoryController@index');
        Route::post('/add', 'API\HotelCategoryController@store');
        Route::get('/edit/{id?}', 'API\HotelCategoryController@show');
        Route::post('/update', 'API\HotelCategoryController@store');
        Route::get('/view/{id?}', 'API\HotelCategoryController@show');
        Route::get('/list', 'API\HotelCategoryController@list');
        Route::resource('/delete', 'API\HotelCategoryController', [
            'as' => 'category'
        ]);
    });
    Route::prefix('facility')->group(function () {
        Route::get('/', 'API\HotelFacilityController@index');
        Route::post('/add', 'API\HotelFacilityController@store');
        Route::get('/edit/{id?}', 'API\HotelFacilityController@show');
        Route::post('/update', 'API\HotelFacilityController@store');
        Route::get('/view/{id?}', 'API\HotelFacilityController@show');
        Route::get('/list', 'API\HotelFacilityController@list');
        Route::resource('/delete', 'API\HotelFacilityController', [
            'as' => 'facility.'
        ]);
    });
    Route::get('/', 'API\HotelController@index');
    Route::post('/add', 'API\HotelController@store');
    Route::post('/edit', 'API\HotelController@store');
    Route::get('/view/{id?}', 'API\HotelController@show');
    Route::get('/list', 'API\HotelController@list');
    Route::post('/delete/{id?}', 'API\HotelController@destroy');
    Route::get('/get-floor/{id?}', 'API\HotelController@getFloor');
    Route::get('/get-rooms/{id?}', 'API\HotelController@getNoOfRooms');
    Route::post('/get-hotel-cat', 'API\HotelController@getHotelCategoryWise');
    Route::post('/get-single-room', 'API\HotelController@getRoomsDetails');
    Route::post('/get-single-room-price', 'API\HotelController@getRoomsDetailsprice');
    // api
    Route::get('/get-room-price', 'API\HotelController@getRoomsprice_api');

    /*** add room facility ****/
    Route::prefix('room')->group(function () {
        Route::prefix('meal')->group(function () {
            Route::post('/', 'API\RoomsController@getHotelMeals');
            Route::post('hotel/', 'API\RoomsController@getHotelMealslist');
            Route::post('/avalable', 'API\RoomsController@getAvailableHotelMeals');
            Route::post('/add', 'API\RoomsController@addHotelMeals');
            Route::post('/view', 'API\RoomsController@viewHotelMeals');
            Route::post('/view/price', 'API\RoomsController@viewHotelMealsPrice');
            Route::post('/view/all', 'API\RoomsController@getHotelMealslist');
            Route::post('/view/all/name', 'API\RoomsController@getHotelMealslistOnlyMealName');
            Route::post('/status', 'API\RoomsController@updateStatus');
            // api
            Route::post('/view/meal_price', 'API\RoomsController@meal_mealprice');
        });
    });
});

/*** room api ****/
Route::prefix('room')->group(function () {
    Route::prefix('category')->group(function () {
        Route::get('/', 'API\RoomCategoryController@index');
        Route::post('/add', 'API\RoomCategoryController@store');
        Route::post('/add/facility', 'API\RoomCategoryController@saveFacility');
        Route::post('/lsit/facility/price', 'API\RoomCategoryController@listWithPrice');
        Route::post('/lsit/facility/price/hotel', 'API\RoomCategoryController@listWithPriceHotel');
        Route::post('/lsit/facility/price/hotel/singel', 'API\RoomCategoryController@listWithPriceHotelsingel');
        Route::post('/lsit/facility/price/hotel/singel/price', 'API\RoomCategoryController@listWithPriceHotelsingelWith');
        Route::post('/lsit/facility/price/hotel/service', 'API\RoomCategoryController@getAdditionalServiceWithPrice');
        Route::post('/edit', 'API\RoomCategoryController@store');
        Route::get('/view/{id?}', 'API\RoomCategoryController@show');
        Route::get('/list', 'API\RoomCategoryController@list');
        Route::post('/delete/{id?}', 'API\RoomCategoryController@destroy');
    });
    Route::prefix('facility')->group(function () {
        Route::get('/', 'API\RoomFacilityController@index');
        Route::post('/add', 'API\RoomFacilityController@store');
        Route::post('/edit', 'API\RoomFacilityController@store');
        Route::get('/view/{id?}', 'API\RoomFacilityController@show');
        Route::get('/list', 'API\RoomFacilityController@list');
        Route::post('/delete/{id?}', 'API\RoomFacilityController@destroy');
    });
    Route::get('/', 'API\RoomsController@index');
    Route::get('/occupied', 'API\RoomsController@occupiedRooms');
    Route::post('/add', 'API\RoomsController@store');
    Route::post('/edit', 'API\RoomsController@store');
    Route::get('/view/{id?}', 'API\RoomsController@show');
    Route::get('/list', 'API\RoomsController@list');
    Route::get('/list-with-status', 'API\RoomsController@listWithStatus');
    Route::post('/delete/{id?}', 'API\RoomsController@destroy');
});

// floor type api
Route::prefix('floor')->group(function () {
    Route::get('/', 'API\FloorController@index');
    Route::post('/add', 'API\FloorController@store');
    Route::post('/edit', 'API\FloorController@store');
    Route::get('/view/{id?}', 'API\FloorController@show');
    Route::get('/list', 'API\FloorController@list');
    Route::post('/delete/{id?}', 'API\FloorController@destroy');
});

// meal plan api
Route::prefix('meal')->group(function () {
    Route::get('/', 'API\MealController@index');
    Route::post('/add', 'API\MealController@store');
    Route::post('/edit', 'API\MealController@store');
    Route::get('/view/{id?}', 'API\MealController@show');
    Route::get('/list', 'API\MealController@list');
    Route::post('/delete/{id?}', 'API\MealController@destroy');
});

/*** bed type apis */
Route::prefix('bed')->group(function () {
    Route::get('/', 'API\BedController@index');
    Route::post('/add', 'API\BedController@store');
    Route::post('/edit', 'API\BedController@store');
    Route::get('/view/{id?}', 'API\BedController@show');
    Route::get('/list', 'API\BedController@list');
    Route::post('/delete/{id?}', 'API\BedController@destroy');
});

Route::prefix('booking')->group(function () {
    Route::prefix('type')->group(function () {
        Route::get('/', 'API\BookingTypeController@index');
        Route::post('/add', 'API\BookingTypeController@store');
        Route::post('/edit', 'API\BookingTypeController@store');
        Route::get('/view/{id?}', 'API\BookingTypeController@show');
        Route::get('/list', 'API\BookingTypeController@list');
        // new api
        Route::get('/agent-booking-list', 'API\BookingTypeController@booking_sourcecount');
        Route::get('/booking_hold_status', 'API\BookingTypeController@booking_hold_status');
        //finshed
        Route::post('/delete/{id?}', 'API\BookingTypeController@destroy');
    });

    Route::post('/', 'API\BookingController@index');
    Route::post('/add', 'API\BookingController@store');
    Route::post('/check-in', 'API\BookingController@store');
    Route::get('/check-out/view/{booking?}', 'API\BookingController@checkoutView');
    Route::get('/restaurant-orders/{booking?}', 'API\BookingController@getRestaurantOrderDetails');
    Route::get('/check-out/room/{id?}', 'API\BookingController@checkOutRoomView');
    Route::get('/check-out/list/{id?}', 'API\BookingController@checkOutList');
    Route::post('/check-out/{booking?}', 'API\BookingController@checkOut');
    Route::post('/check-out', 'API\BookingController@store');
    Route::post('/edit', 'API\BookingController@store');
    Route::post('/advance-payment', 'API\BookingController@advancePayment');
    Route::post('/amend-stay', 'API\BookingController@amendStay');
    Route::post('/additional-service', 'API\BookingController@additionalService');
    Route::post('/room-move', 'API\BookingController@roomMove');
    Route::get('/view/{booking?}', 'API\BookingController@show');
    Route::get('/list', 'API\BookingController@list');
    Route::post('/delete/{booking?}', 'API\BookingController@destroy');
    Route::post('/cancel/{booking?}', 'API\BookingController@cancel');
    Route::get('/booking-status', 'API\BookingController@Booking_status_get');



    Route::get('/all-booking-list', 'API\BookingController@bookingList');
    Route::post('/room-booking-status', 'API\BookingController@roomCheckInOutDetails');
});


// });
// Route::middleware('auth:sanctum')->get('/user', function (Request $request) {
//     return $request->user();
// });
// Route::prefix('category')->group(function() {
//     Route::get('/', 'API\HotelCategoryController@index');
// });



// Route::middleware('auth:sanctum')->group( function () {
// });


<template>
  <div v-for="(hotel, index) in hotelData" :key="index" class="card rounded-4 border-0 mb-3">
    <!-- ... other HTML code ... -->
    <div class="card-body border-top mt-3" id="form" v-show="divStates[index]">
      <form role="form">
        <!-- ... other form fields ... -->
        <div class="col mt-3 mb-4 form-floating">
          <select v-model="hotelForms[index].numberOfRooms" class="form-select" id="floatingSelectGridRooms" @change="updateResult">
            <!-- ... options ... -->
          </select>
          <label for="floatingSelectGridRooms">Select no of rooms</label>
        </div>
        <div class="row">
          <div class="col mt-3 mb-4 form-floating">
            <input type="text" v-model="hotelForms[index].result" class="form-control" id="floatingSelectGridAdults">
            <label for="floatingSelectGridAdults">Adults</label>
          </div>
          <!-- ... other form fields ... -->
        </div>
        <!-- ... other form fields ... -->
      </form>
      <!-- ... Additional form elements ... -->
      <div class="book_section d-flex justify-content-between align-items-center" id="book_price">
        <div class="price_cont">
          <span class="price"><strong id="calculate_price">Price :-</strong> ₹{{ calculateTotalPrice(index) }}</span>
        </div>
        <div class="book_btn">
          <button class="btn rounded-pill border_btn" @click="submit(hotel.cat_id, index)">Book</button>
        </div>
      </div>
      <div id="summary_price_continue" style="display:none;">
        <!-- ... Additional summary elements ... -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      hotelData: [
        // Your array of hotel objects
      ],
      hotelForms: Array.from({ length: this.hotelData.length }, () => ({
        numberOfRooms: 1,  // Default values for each form field
        result: '',
        // ... other form fields ...
      })),







        <template>
    <div class="hoteldetail_section">
        <div class="container-fluid">
            <div class="row p-4 bg-white header_container">
                <div class="col p-0 d-flex gap-3 align-items-center">
                    <div class="back_icon">
                        <router-link to="/hotel"><i class="fa-solid fa-arrow-left fa-xl"></i></router-link>
                    </div>
                    <div class="page_head">
                        <h4 class="m-0">Hotel Detail</h4>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center justify-content-end">
                    <div class="head_icon">
                        <router-link to="/dashboard"><i class="fa-solid fa-house fa-xl"></i></router-link>
                    </div>
                </div>
            </div>
            <div v-for="(hotel, index) in hotelData" :key="index" class="row">
                <!-- <div> -->
                <div v-if="hotel" class="room_img p-0">
                    <img :src="RoomImg" alt="roomimage" class="img-fluid" id="myImage">
                    <!-- <img id="myImage" alt="Hotel Image"> -->
                </div>
                <div class="hotel_detail_container px-3 py-3 pt-5">
                    <div class="heading text-start">
                        <h1 v-if="hotel && hotel.hotel_name">{{ hotel.hotel_name }}</h1>
                        <h1 v-else>No hotel name available</h1>
                        <div div class=" hotel_location d-flex gap-2 align-items-center">
                            <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                            <span class="address" v-if="hotel && hotel.hotel_address">{{ hotel.hotel_address }}</span>
                            <span class="address" v-else>No address are available..</span>
                        </div>
                    </div>
                    <div class="hotel_facilities py-3 d-flex gap-3 flex-wrap border-bottom">
                        <div class="facilities_box d-flex gap-2 align-items-center">
                            <div class="facili_icon py-1 px-2 border rounded-3"><i class="fa-solid fa-utensils"></i></div>
                            <span class="facili_text">Meal</span>
                        </div>
                        <div class="facilities_box d-flex gap-2 align-items-center">
                            <div class="facili_icon py-1 px-2 border rounded-3"><i class="fa-solid fa-wifi"></i></div>
                            <span class="facili_text">Free Wifi</span>
                        </div>
                        <div class="facilities_box d-flex gap-2 align-items-center">
                            <div class="facili_icon py-1 px-2 border rounded-3"><i class="fa-solid fa-building-user"></i>
                            </div>
                            <span class="facili_text">Room Service</span>
                        </div>
                        <div class="facilities_box d-flex gap-2 align-items-center">
                            <div class="facili_icon py-1 px-2 border rounded-3"><i class="fa-solid fa-square-parking"></i>
                            </div>
                            <span class="facili_text">Free Parking</span>
                        </div>
                        <div class="desc_btn">
                            <button @click="view_desc">{{ view_dsc_btn }}</button>
                        </div>
                    </div>
                </div>
                <div class="dsc_box text-start pt-3" v-show="descvisible">
                    <h5>Description</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec odio est. Aenean at blandit
                        nisl. Nulla eu sollicitudin dui, a interdum libero. Quisque sed arcu pellentesque, accumsan
                        metus aliquam, fringilla ex. Pellentesque mauris diam, consequat vitae consequat eget, faucibus
                        in nisl.</p>
                </div>

                <div class="col">
                    <div class="custom-container d-flex justify-content-between bg-white p-3 rounded-4">
                        <div class="date_container position-relative">
                            <div class="d-flex justify-content-between align-items-center label_box">
                                <span class="check-in">Check-in</span>
                                <span class="dash">-</span>
                                <span class="check-out">Check-out</span>
                            </div>
                            <date-range-picker v-model="dateRange" ref="bookingPicker" opens="right" :minDate="new Date()"
                                :singleDatePicker="false" :autoApply="true" :ranges="false" @update="updateValues"
                                class="mt-1" :options="datePickerOptions">
                            </date-range-picker>


                        </div>
                        <div class="day_night_cont">
                            <div class="d-flex gap-2 align-items-center label_box">
                                <span class="check-in">Day</span>
                                <span class="dash">-</span>
                                <span class="check-out">Night</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <span class="check-in">{{ getNumberOfDays() }}</span>
                                <span class="dash">-</span>
                                <span class="check-out">{{ getNumberOfNights() }}</span>
                            </div>
                            <p class="error">Days not should be 0..</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="room_availa_table mt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start">Room Category</th>
                            <th>Available Rooms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(roomCategory, index) in roomCategories" :key="index">
                            <td class="text-start">{{ roomCategory.cat_name }}</td>
                            <td>{{ roomCategory.total_available }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <RoomCard /> -->
            <div class="room_card_section mb-5 pb-3">
                <!-- room cards start -->
                <div v-for="(hotel, index) in roomCategories" :key="index" class="room_cards">
                    <!-- card 1 start -->
                    <div class="card rounded-4 border-0 mb-3">
                        <div class="card-header px-2 d-flex rounded-4 border-bottom-0 gap-2">
                            <div class="room_card_img">
                                <img :src="RoomCardImg" alt="" class="img-fluid rounded-3">
                            </div>
                            <div class="room_header_content">
                                <div class="card-title d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">{{ hotel.cat_name }}</h5>
                                    <div class="show_form_btn" @click="toggleClass(index, hotel.cat_id)">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                </div>
                                <div class="card_icons d-flex column-gap-2 flex-wrap">
                                    <div class="hotel_faci_box d-flex gap-1 align-items-center">
                                        <div class="icon">
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                        <span class="icon_text">
                                            4 Person
                                        </span>
                                    </div>
                                    <div class="hotel_faci_box d-flex gap-2 align-items-center">
                                        <div class="icon">
                                            <i class="fa-solid fa-bed"></i>
                                        </div>
                                        <span class="icon_text">
                                            2 Bedrooms
                                        </span>
                                    </div>
                                    <div class="hotel_faci_box d-flex gap-2 align-items-center">
                                        <div class="icon">
                                            <i class="fa-solid fa-bath"></i>
                                        </div>
                                        <span class="icon_text">
                                            1 Bathrooms
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-top mt-3" id="form" v-show="divStates[index]">
                            <form role="form">
                                <div class="col mt-3 mb-4 form-floating">

                                    <select v-model="form.numberOfRooms" class="form-select" id="floatingSelectGridRooms"
                                        @change="updateResult">
                                        <option
                                            v-for="i in Array.from({ length: parseInt(hotel && hotel.total_available) || 0 }, (_, index) => index + 1)"
                                            :key="i" :value="i">
                                            {{ i }}
                                        </option>
                                        <option v-if="!hotel || !parseInt(hotel.total_available)" :value="0">No room
                                            available</option>
                                    </select>




                                    <label for="floatingSelectGridRooms">Select no of rooms</label>
                                </div>
                                <div class="row">
                                    <div class="col mt-3 mb-4 form-floating">
                                        <input type="text" v-model="form.result" class="form-control"
                                            id="floatingSelectGridAdults">
                                        <label for="floatingSelectGridAdults">Adults</label>
                                    </div>
                                    <div class="col mt-3 mb-4 form-floating">
                                        <select v-model="form.result1" class="form-select" id="floatingSelectGridChildren">
                                            <option v-for="i in parseInt(form.numberOfRooms)" :key="i" :value="i">{{ i * 1
                                            }}
                                            </option>
                                        </select>
                                        <label for="floatingSelectGridChildren">Children</label>
                                    </div>
                                </div>
                                <div class="col mt-3 mb-4 form-floating">
                                    <select v-model="form.mealPlan" class="form-select" id="floatingSelectGridMealPlan"
                                        @change="meal_plan(form.mealPlan)">
                                        <option :value="null" disabled selected>Select a Meal Plan</option>
                                        <option v-for="(mealData, index) in mealData" :key="index" :value="mealData.id">
                                            {{ mealData.plan_name }}</option>
                                    </select>

                                    <label for="floatingSelectGridMealPlan">Choose Meal Plans</label>
                                    <p class="error">Please choose meal plan before book room..</p>
                                </div>
                                <div class="col">
                                    <div class="addition_btn">
                                        <button class="add_btn"><i class="fa-solid fa-plus"></i> Additional</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3 mb-4 form-floating">
                                        <select class="form-select" id="floatingSelectGrid" v-model="form.Extra_Bed">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                        <label for="floatingSelectGrid">Extra Bed</label>
                                    </div>
                                    <div class="col mt-3 mb-4 form-floating">
                                        <select class="form-select" id="floatingSelectGrid" v-model="form.Without_Bed">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                        <label for="floatingSelectGrid">Without Extra Bed</label>
                                    </div>
                                </div>
                            </form>
                            <!-- {{ form }} -->
                            <!-- ... Additional form elements ... -->
                            <div class="book_section d-flex justify-content-between align-items-center" id="book_price">
                                <div class="price_cont">
                                    <span class="price"><strong id="calculate_price">Price :-</strong> ₹{{
                                        calculateTotalPrice
                                    }}</span>
                                </div>
                                <div class="book_btn">
                                    <button class="btn rounded-pill border_btn" @click=submit(hotel.cat_id)>Book</button>
                                </div>

                            </div>
                            <div id="summary_price_continue" style="display:none;">
                                <div class="book_text py-3 border-top border-bottom d-flex gap-3 align-items-center my-3">
                                    <div class="book_detail">
                                        {{ form.result }} Adults, {{ form.result1 }} Children, {{ form.Extra_Bed }} Extra
                                        Bed, Meal Plan {{ form.mealPlan }}
                                    </div>
                                    <span class="multipl">X</span>
                                    <span class="price">₹{{ calculateTotalPrice }} </span>
                                </div>
                                <div class="continue_btn">
                                    <router-link v-if="form" :to="getBookingLink"
                                        class="btn rounded-pill mt-3 full_btn px-4"> Continue
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card 1 end -->
                </div>
                <div id="another_line" style="display:none;" class="mb-5 pb-5">
                    <div class="alert alert-info py-1 rounded-3 mt-3">
                        You've selected room({{ form.numberOfRooms }}) for {{ form.result }} Adults, {{ form.result1 }}
                        Children.
                    </div>
                    <div class="container_footer container-fluid row align-items-center m-auto fixed-bottom px-3 py-4">
                        <div class="price_cont col">
                            <h6 class="m-0"><span>Total Price:</span> ₹{{ calculateTotalPrice }}</h6>
                        </div>
                        <div class="conti_btn col">
                            <router-link v-if="form" :to="getBookingLink" class="btn rounded-pill mt-3 full_btn px-4">
                                Continue
                            </router-link>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>
<script>
import RoomImg from '../../../public/assets/images/room.png'
// import RoomCard from '../../components/hoteldetail/RoomCard.vue'
import RoomCardImg from '../../../public/assets/images/roomcard_img.png'
import DateRangePicker from "vue2-daterange-picker";
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
import axios from 'axios';
import moment from "moment";

export default {
    components: {
        // RoomCard,
        DateRangePicker,
    },
    data() {
        return {
            meal_price: '',
            mealData: '',
            divStates: {},
            isFormVisible: false,
            room_rate: "",
            person_price: "",
            extra_bed_rate: "",
            roomCategories: '',
            form: {
                numberOfRooms: 1,
                result: 2,
                result1: 1,
                mealPlan: null,
                Extra_Bed: 0,
                Without_Bed: 0,
            },
            RoomImg,
            RoomCardImg,
            descvisible: false,
            view_dsc_btn: 'View Description',
            hotelData: null,
            dateRange: {
                startDate: moment(moment().format('DD-MM-YYYY'), 'DD-MM-YYYY').toDate(),
                endDate: moment(moment().add(1, 'day').format('DD-MM-YYYY'), 'DD-MM-YYYY').toDate(),
            },
            datePickerOptions: {
                language: 'en',
                direction: "ltr",
                format: "DD-MM-YYYY",
                separator: " - ",
                applyLabel: "Apply",
                cancelLabel: "Cancel",
                weekLabel: "W",
                customRangeLabel: "Custom Range",
                firstDay: 1,
            },

        }
    },
    mounted() {

        const hotelId = this.$route.params.hotelId;

        // Fetch hotel details
        axios.get(process.env.API_LOCAL_BASE_URL + `/hotel?id=${hotelId}`)
            .then(response => {
                this.hotelData = response.data.data;
            })
            .catch(error => {
                console.error('Error fetching hotel data:', error);
            });


        // Fetch room categories
        axios.get(process.env.API_LOCAL_BASE_URL + `/room-category-availability?hotel_id=${hotelId}&check_in_date=`, {
            headers: {
                Authorization: `Bearer ${localStorage.getItem('token')}`,
            }
        })
            .then(response => {
                this.roomCategories = response.data;
                // console.log(this.roomCategories);
            })
            .catch(error => {
                console.error('Error fetching room categories:', error);
            });
        // meal item
        axios.post(process.env.API_LOCAL_BASE_URL + `/hotel/room/meal/view/meal_price`)
            .then(response => {
                this.mealData = response.data.data[0];
            })
            .catch(error => {
                console.error('Error fetching hotel data:', error);
            });

    },
    computed: {
        calculateTotalPrice() {
            return (
                this.form.numberOfRooms * this.room_rate +
                this.form.Extra_Bed * this.extra_bed_rate +
                this.form.Without_Bed * this.person_price +
                this.meal_price
            );
        },
        getBookingLink() {
            const numberOfNights = this.getNumberOfNights(); 
            // console.log(this.form.result);
            const bookingParams = [
                this.form.numberOfRooms,
                this.form.result,
                this.form.result1,
                this.form.mealPlan,
                this.form.Without_Bed,
                this.form.Extra_Bed,
                
                this.calculateTotalPrice,
                numberOfNights,
            ];
            console.log(bookingParams);

            const queryParams = {
                hotelId: JSON.stringify(bookingParams),
            };

            if (this.dateRange.startDate && this.dateRange.endDate) {
                queryParams.startDate = this.dateRange.startDate;
                queryParams.endDate = this.dateRange.endDate;
            }

            return {
                name: "YourbookingView",
                query: queryParams,
            };
        },


    },
    methods: {
        getNumberOfDays() {
            if (this.dateRange.startDate && this.dateRange.endDate) {
                const start = new Date(this.dateRange.startDate);
                const end = new Date(this.dateRange.endDate);
                const timeDifference = end - start;
                const numberOfDays = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));
                return numberOfDays;
            }
            return 0;
        },
        getNumberOfNights() {
            const numberOfNights = this.getNumberOfDays() - 1;
            return numberOfNights >= 0 ? numberOfNights : 0;
        },
        meal_plan(meal_id) {
            let hotel_id = this.$route.params.hotelId;
            console.log(hotel_id, meal_id);

            axios.post(process.env.API_LOCAL_BASE_URL + `/hotel/room/meal/view/meal_price?meal_id=${meal_id}&hotel_id=${hotel_id}`)
                .then(response => {
                    this.Data = response.data.data[1];
                    console.log(this.meal_price = this.Data.price);
                })
                .catch(error => {
                    console.error('Error fetching hotel data:', error);
                });
        },
        updateResult() {
            this.form.result = this.form.numberOfRooms * 2;
            this.form.result1 = this.form.numberOfRooms * 1;

            console.log(this.result)
        },
        toggleClass(identifier, id) {
            this.$set(this.divStates, identifier, !this.divStates[identifier]);
            this.isFormVisible = !this.isFormVisible;

            axios.get(`${process.env.API_LOCAL_BASE_URL}/hotel/get-room-price?id=${id}`)
                .then(response => {
                    console.log(response);
                    console.log(id);
                    const roomData = response.data.data[0].room_rate;
                    // console.log(roomData);
                    if (roomData !== 0) {
                        this.person_price = response.data.data[0].per_person;
                        this.room_rate = roomData;
                        this.extra_bed_rate = response.data.data[0].extra_bed_rate;

                        console.log(this.room_rate, this.person_price);
                    } else {
                        console.warn('Room data is empty or undefined.');
                    }
                })
                .catch(error => {
                    console.error('Error fetching room categories:', error);
                });


        },

        async submit(id) {
            console.log("validating loging...");
            console.log(this.form)

            axios.get(`${process.env.API_LOCAL_BASE_URL}/hotel/get-room-price?id=` + id)
                .then(response => {
                    console.log(response.data.data[0].room_rate);
                })
                .catch(error => {
                    console.error('Error fetching room categories:', error);
                });
            if (
                this.form.numberOfRooms !== "" &&
                this.form.result !== "" &&
                this.form.result1 !== "" &&
                this.form.Extra_Bed !== "" &&
                this.form.Without_Bed !== "" &&
                this.getNumberOfDays() > 0
            ) {
                document.getElementById("summary_price_continue").style.display = "block";
                document.getElementById("another_line").style.display = "block";
            }
            if (this.form.mealPlan === null || this.getNumberOfDays() > 0) {
                var errorElements = document.getElementsByClassName("error");

                for (var i = 0; i < errorElements.length; i++) {
                    errorElements[i].style.display = "block";
                }
            } else {
                alert('Please fill out all fields');
            }

        },

        view_desc() {
            this.descvisible = !this.descvisible;

            if (this.descvisible) {
                this.view_dsc_btn = "Hide Description";
            } else {
                this.view_dsc_btn = "View Description";
            }
        },
        formatDateString(dateString) {
            return moment(dateString).format('YYYY-MM-DD');
        },
        updateValues(values) {
            console.log('Updated values:', values);
        },
    }
}
</script>

<style>
.error {
    color: red;
    display: none;
}

.alert {
    font-size: 12px;
}

.book_btn .border_btn {
    border: 1px solid var(--primaryColor);
    background: unset;
    color: var(--primaryColor);
    padding: 10px 30px;
    font-weight: 600;
}

.book_btn .border_btn:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.room_cards .card .card-header {
    background-color: var(--whiteColor);
}

.room_cards i {
    color: var(--primaryColor);
}

.room_card_img {
    max-width: 135px;
    width: 100%;
    height: 75px;
}

.room_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room_header_content .card-title h5 {
    font-size: 17px;
}

.hotel_faci_box .icon i {
    font-size: 13px;
}

.hotel_faci_box .icon_text {
    font-size: 13px;
}

.addition_btn .add_btn {
    border: none;
    background: unset;
    color: var(--primaryColor);
}

.container_footer {
    background-color: var(--secondaryColor);
}

.container_footer .price_cont h6 span {
    color: var(--primaryColor);
}

.hoteldetail_section {
    height: 100vh;
}

.vue-daterange-picker .reportrange-text {
    border: unset;
    padding-left: 0;
    padding-right: 0;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: var(--primaryColor);
}

.date_container::after {
    content: "";
    position: absolute;
    right: -19px;
    top: 0;
    width: 1px;
    height: 100%;
    background: var(--secondaryColor);
}

.label_box {
    font-size: 14px;
    color: var(--greayColor);
}

.header_container .head_icon {
    color: var(--primaryColor);
}

.hotel_detail_container {
    margin-top: -50px;
    background-color: var(--secondaryColor);
    border-start-start-radius: 40px;
    border-start-end-radius: 40px;
}

.hotel_location .icon {
    color: var(--primaryColor);
}

.hotel_location .address {
    font-size: 13px;
}

.facilities_box .facili_text {
    font-size: 12px;
}

.facilities_box .facili_icon {
    color: var(--primaryColor);
}

.room_availa_table table tr th {
    background-color: unset;
}

.room_availa_table table tr th:first-child {
    padding-left: 16px;
}

.room_availa_table table tr td:first-child {
    padding-left: 16px;
}

.room_availa_table table tr th:nth-child(2) {
    text-align: center;
}

.room_availa_table table tr td:nth-child(2) {
    text-align: center;
}

.desc_btn {
    margin-left: auto;
}

.desc_btn button {
    border: none;
    background-color: unset;
    font-size: 14px;
    font-weight: 600;
    color: var(--primaryColor);
}
</style>
      divStates: Array.from({ length: this.hotelData.length }, () => false),
    };
  },
  methods: {
    toggleClass(index) {
      // Toggle the visibility state for the clicked hotel
      this.$set(this.divStates, index, !this.divStates[index]);
    },
    // ... other methods ...
  },
};
</script>

<style scoped>
  /* Add your scoped styles here */
</style>
